body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: blanchedalmond;
}

h1{
    border-bottom: 4px solid #034C3C;
    text-align: center;
    font-size: 40px;
}
input {
    height: 20px;
    border: .25 solid black;
    border-radius: 2px;
    align-items: center;
}
button{
    height: 29px;
    background: white;
    border-radius: 1px;
}
#todoList{
    text-align: center;
}
#todoForm{
    text-align: center;
}