body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    text-align: center;
    margin-top: 45px;
    font-size: 40px;
    font-style:bold;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.boxa {
    /* margin-top: 35px;
    margin-left: auto;
    margin-top: 1px; */
    /* margin-left:auto; */
    width:  300px;
    height: 300px;
    border: 1px solid black;
}  

/* .boxb {
    margin-top: 35px;
    margin-top: 1px;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(0, 0, 0);; */


.boxc {
    /* margin-left: auto;
    margin-top: 1px; */
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

/* .boxd {
    width: 300px;
    height: 300px;
    margin-top: 1px;
    border: 1px solid rgb(0, 0, 0);;
} */

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.djSmall {
    margin-top: 8px;
    margin-bottom: 5px;
    width: 300px;
    height: 35px;
}

.djParty{
    margin-top: 8px;
    width: 300px;
    height: 35px;
}

.leftBlue {
    margin-bottom: 5px;
    width: 300px;
    height: 35px;
}

.rightBlue {
    width: 300px;
    height: 35px;
}

.bigOne {
    margin-bottom: 5px;
    width: 300px;
    height: 35px;
}

.bigTwo{
    width: 300px;
    height: 35px;
}

.bigThree{
    margin-bottom: 5px;
    width: 300px;
    height: 35px;
}

.bigFour {
    width: 300px;
    height: 35px;
}

.noise {
    width: 300px;
    height: 35px;
}