body{
    background-color: blanchedalmond;
}
h1 {
    text-align: center;
}

#container{
    display: flex;
    justify-content: space-between;
}

#darkBlueSquare {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(4, 4, 97);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

#darkBlueSquare:hover {
    background-color: black;
    height: 350px;
    border: 40px solid white;
}

#blueSquare {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
    transition-property:all;
    transition-duration: 5s;
}

#blueSquare:hover {
    background-color: yellow;
    height: 500px;
    width: 150px;
}

#lightBlueSquare {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(56, 224, 236);
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 3s;
}

#lightBlueSquare:hover {
    background-color: pink;
    height: 75px;
    border: 4px solid black;
}

#cornflowerBlueSquare {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: cornflowerblue;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 1s;
}

#cornflowerBlueSquare:hover {
    background-color: greenyellow;
    height: 600px;
    width: 80px
}

#tealSquare {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(137, 238, 191);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 3s;
}

#tealSquare:hover {
    background-color: purple;
    height: 450px;
    width: 400px;
    border: 18px solid orange;
}

#lightGreenSquare {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(156, 247, 156);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 8s;
    transition-delay: 1s;
}

#lightGreenSquare:hover {
    background-color: red;
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

#video {
text-align: center;
}
