* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #639;
    height: 100vh;
    font-family:cursive
}

.form-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,75);
}

.form--submit {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: none;
    cursor: pointer;
}
.badge {
    text-align: center;
    margin-top: none;
}