* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(4, 65, 65);
    height: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-container {
    height: 400px;
    width: 800px;
    background-color: white;
    border: 2px dotted black;
    margin-top: 40px;
    margin-left: 550px;
    
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 60px;
}

.badge {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    width: 800px;
    background-color: white;
    border: 2px dotted black;
    padding-top: 40px;
    padding-left: 60px;
    margin-top: 30px;
    margin-left: 550px;
}